.actualProjectContainer{
	padding: 2rem 4rem;
    position: relative;
    /* border-radius: 1rem;
    padding: 19rem 2rem;
    width: 40vw;
    height: 40vh;
    margin: 5vh 5vw;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 73);
    color: aliceblue;*/
    margin: 1rem auto;
    width: 70%;
	height: 65%;
	
    overflow: hidden; 
}
.actualProjectContainer:hover{
	border-radius: 1rem;
	box-shadow:0px 5rem 10rem #0e0101;
}

.button-link {
	display: block;
	position: relative;
	width: 7rem;
	z-index: 50;
	padding: 0.25rem;
	font-size: 1.1rem;
	background: transparent;
	margin: 0.25rem;
	color: white;
	text-decoration: none;
	border-radius: 32px;
	text-align: center;
	overflow: hidden;
	border: 2px solid white;
}

.button-link::before {
	content: "";
	width: 35%;
	height: 100%;
	position: absolute;
	left: 0;
	text-decoration: none;
	top: 0;
	background-color: rgb(91, 217, 248);
	z-index: -100;
	transform: skew(-25deg);
	transition: all 0.7s ease-in-out;
	animation: hoverBtnAnimation 0.9s linear infinite;
}

.button-link:hover::before {
	animation: none;
	text-decoration: none;
	transform: skew(0);
	width: 110%;
}


/* .details{
    margin-top: 120%;
    width: 80%;
    height: auto;
    margin-left: 10%;
    
}

.details::before {
	content: "";
	width: 35%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(27, 112, 133);
	z-index: -100;
	transform: skew(-25deg);
	transition: all 0.7s ease-in-out;
	animation: hoverBtnAnimation 0.9s linear infinite;
}

.details:hover::before {
	animation: none;
	transform: skew(0);
	width: 110%;
} */
@keyframes hoverBtnAnimation {
	from {
		left: -100px;
	}
	to {
		left: 100%;
	}
}

.actualProjectContainer:hover .details {
    /* width: 25rem;
    height: 30rem;
    padding: 2rem 3rem;
    background-color: aliceblue; */
	opacity: 1;
    /* color: rgb(240, 185, 185);
    font-weight: bold; */
}



.title{
    margin: .5rem 2rem;
    font-size: 1.2rem;
	color: aliceblue;
}

.img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/3;
}
.img img{
    /* width: 50%;
    height: 100%; */
    width: 100%;
    height: 100%;
    /* aspect-ratio: 16/3; */
}

.details{
    color: white;
	font-size: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-decoration: none;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.774);
	z-index: 400;
	transition: all 0.5s ease-in-out;
}


/* .actualProjectContainer:hover{
    opacity: 80%;
}
.actualProjectContainer:hover > .details{
    font-size: 1.5rem;
    margin-top: -30%;
} */

@media screen and (max-width: 640px){
    .actualProjectContainer{
        padding-top: 6rem;
        margin-left: 10%;
        width: 80%;
    }
    .title{
        margin: 3rem 1rem;
        font-size: 4rem;
    }
	.img img{
		width: 100%;
		height: auto;
		/* aspect-ratio: 16/3; */
	}
	.details{
		font-size: 3rem;
	}
	.button-link{
		width: 15rem;
		height: 4rem;
		padding: .5rem .5rem;
		font-size: 2rem;
	}
}
    



